$margin: 2%;

#footer{
    width: 100%;
    height: 300px;
    background-color: black;
    img{
        margin-top:20px;
    }
    div:first-of-type{
        display: flex;
        align-items: center;
        color: white;
        #footer-ul{
            list-style-type: none;
            padding: 0;
            .footer-li{
                text-align: center;
                float: left;
                width: ((100% - (2 * $margin)) / 3);
                
            }
            .footer-li+.footer-li{
                margin-left: $margin;
            }
        }
    }
    div:last-child{
    text-align: center;
    p{
        color: white;
    }
}
}


#social{
    width: 100%;
    padding: 0;
    li{
        position: relative;
        width: 100%;
        float: left;
        list-style-type: none;
        text-align: center;
        a{
            
            text-decoration: none;
            color: white;
        }
    }
}