#signup{
    height: 450px;
    background: url('../images/bg-darker.jpg');
    background-size: 100% 600px;
    background-repeat: no-repeat;
    #text{
        width: 40%;
        text-align: left;
        color: black;
        padding: 10px 0 10px 0;
    }
}